<h1>dashboard</h1>

<ul>
<% @labels.each do |label| %>
  <li><%= link_to label["name"], label_path(label["slug"]) %></li>
<% end %>
</ul>

<% @messages.each do |message| %>
  <%= render :partial => 'shared/message', :locals => {:message => message} %>
<% end %>